<connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
        xmlns="http://www.w3.org/2001/04/xmlenc#">
        <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
        <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                    <KeyName>Rsa Key</KeyName>
                </KeyInfo>
                <CipherData>
                    <CipherValue>C+IfsZ283wKGX0bfYtv121rXHYoX8Jil/ae8wBw6iRrsqokga5FiKJveMcOeze09Vqs2B2eVAzPNbGv5ovls3JoRMGZMS3GYxwmXtbul1I8e6UIF6NW6qN+srM3+4aRgvtntlxJtCMEHu6SrXRZnDWeIEwEKHlfmk1UzoovwrvH3rTG/qebNCz1jmYArNi6dcPSJhMn09C5dCLr0rfoWctWoEqj5mTgdLcAa5hpNwCK1rEmaSMd2483rQ9tVW9d2+OQcoJNygEeYH8cAeFJ7LOq9eeTGtORlraBZLMAnuzwNmt1/o7dy95ZLpw4at30/6tJXGgJmuNql0yfRbzKX1A==</CipherValue>
                </CipherData>
            </EncryptedKey>
        </KeyInfo>
        <CipherData>
            <CipherValue>bHYqo9bUuchMS0ccwsW7VtfAloL/wJ35EvFr9HUIaCdRDCmZvk97kNSLwUkJA3WmQqnVxLtyxg32j7/NouTXLV2xu7nz9AmxX/agB7R5RvG3upX+2n6ff29VtTxd+F0Oz375ZcevmUn+QVwUJFomZOWxshucgAA9lXnJMEC8KsamoZq219lqz8EU7CpDZQfgBdQynfWVg7FA0BoUauObf30OMKbu8ghw+rudSjszYm+6uz5ebYGk0S+ugsaylEkSi29h3aW8ZSZ8iEQUSNN5Kg==</CipherValue>
        </CipherData>
    </EncryptedData>
</connectionStrings>
