.ajax__tab_lightblue-theme .ajax__tab_header {
font-family:arial,helvetica,clean,sans-serif;
font-size:small;
border-bottom:solid 5px #c2e0fd;
}

.ajax__tab_lightblue-theme .ajax__tab_header .ajax__tab_outer {
background-image:url('Images1/lightblue.jpg') #d8d8d8 repeat-x;
margin:0px 0.16em 0px 0px;
padding:1px 0px 1px 0px;
vertical-align:bottom;
border:solid 1px #a3a3a3;
border-bottom-width:0px;
}

.ajax__tab_lightblue-theme .ajax__tab_header .ajax__tab_tab {    
color:#000;
padding:0.35em 0.75em;    
margin-right:0.01em;
}

.ajax__tab_lightblue-theme .ajax__tab_hover .ajax__tab_outer {
background-image: url('Images1/lightblue.jpg') #bfdaff repeat-x left -1300px;
}

.ajax__tab_lightblue-theme .ajax__tab_active .ajax__tab_tab {
color:#000;
}

.ajax__tab_lightblue-theme .ajax__tab_body {
font-family:verdana,tahoma,helvetica;
font-size:10pt;
padding:0.25em 0.5em;
background-color:#ffffff;    
border:solid 1px #808080;
border-top-width:0px;
}
